# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
# *.exe
# *.out
# *.app

# Output data files
*.eps
*.svg
*.pdf
*.png
*.PAS

.venv/
.vscode/
# ccdata/

.DS_Store
bin/.DS_Store
out/.DS_Store

CUT/pts_4_18.csv
CUT/pts_4_19.csv
CUT/pts_4_20.csv

# *.PAS
# *.EOF

makefile

build/